$square-size: 100px;

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  gap: 1px;
  width: 710px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $square-size;
  width: $square-size;
  background-color: #eee;
  color: black;
  border: 1px solid black;
  box-sizing: border-box;

  transition-duration: 1s;
  transition-property: background-color;
}

@for $i from 1 through 31 {
  .calendar__day:nth-child(32n - #{$i})::before {
    content: '#{$i}';
  }
}

.calendar__day:hover {
  position: relative;
  top: -10px;
  background-color: #ffbfcb;
}
